body {
  padding: 50px;
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.comic-sans {
  font-family: "Comic Sans MS", cursive, sans-serif;
}


.comic-sans h1 {
  color: white;
  background-color: grey;
}
