/* Login.css */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #010c11;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form {
    margin-bottom: 20px;
}

label {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
    color: white;
}

input {
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #343536;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #ff9100;
}

.error-container {
    margin-top: 20px;
    padding: 10px;
    background-color: #460808;
    border: 1px solid #460808;
    border-radius: 4px;
}

.close-button {
    background-color: #3b3838;
    color: white;
    padding: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
